@import './base/mixin';

.@{prefix}-card {
    .cursor();
    width: 100%;
    background: #fff; 
    margin: 0 0 10px 0;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    .@{prefix}-card-header {
        color: @colorMain;
        font-size: 15px;
        padding: 10px 10px;
        border-bottom: 1px solid #E6E6E6;
    }
    .@{prefix}-card-content {
        padding: 10px;
        overflow: hidden;
        position: relative; 
        transition: max-height .2s;
        -webkit-transition: max-height .2s;
        .@{prefix}-card-arrow-icon{
            top: 50%;
            right: 10px;
            font-size: 12px;
            line-height: 12px;
            margin: 0 -6px 0 0;
            position: absolute;
        }
    }
    .@{prefix}-card-collapse-icon {
        display: block;
        margin: 0 auto;
        padding: 5px 0;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
    }
}