@import './base/mixin';

.@{prefix}-date-picker {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5; 
    opacity: 0; 
    margin: 0 auto;
    position: fixed;
    background: #fff;
    transform: translateX(600px);
    &.close { 
        animation: picker-close 1s ease forwards;
        @keyframes picker-close {
            0% {
                opacity: 1; 
                transform: translateX(0);
            }
            100% {
                opacity: 0; 
                transform: translateX(600px);
            } 
        }
    }
    &.open { 
        animation: picker-open .4s ease forwards;
        @keyframes picker-open {
            0% {
                opacity: 0;  
                transform: translateX(600px);
            } 
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
    .@{prefix}-date-picker-name {
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        background: #6ac2b6;
        border-bottom: 1px solid #dcdcdc; 
        .@{prefix}-icon {
            top: 0;
            left: -10px;
            font-size: 14px;
            padding: 0 20px;
            position: absolute;
        }
    }
    .@{prefix}-date-picker-content {
        height: 100%;
        .float-clear();
        .@{prefix}-date-picker-year-list {
            width: 20%;
            float: left;
            height: 100%;
            max-height: 100%;
            background: #f6f4f5;
            .overflow-scroll();
            .@{prefix}-date-picker-year-item {
                padding: 10px;
                font-size: 14px;
                line-height: 20px;
                background: #f6f4f5;
                &.active {
                    border-left: 2px solid @colorMain;
                    background: #fff;
                }
            }
        }
        .@{prefix}-date-picker-month-list {
            width: 80%;
            float: left; 
            height: 100%;   
            .overflow-scroll();
            .@{prefix}-date-picker-month-item {
                .@{prefix}-date-picker-month-name{
                    padding: 5px 10px;
                    color: #6ac2b6;
                    text-align: center;
                    border: 1px solid #f4f4f4;
                }
                .@{prefix}-date-picker-day-list{
                    .float-clear();
                    .@{prefix}-date-picker-day-item{ 
                        .cursor(); 
                        float: left;
                        width: 20%; 
                        font-size: 14px;
                        line-height: 40px;
                        text-align: center; 
                        position: relative;
                        background: #ffffff;
                        border: 1px solid #f4f4f4;   
                        &.active {
                            border-color: @colorMain;
                        } 
                    }
                }
            } 
        }
    }

}