@import './base/mixin';

@prefix: zui-infinite-date-picker;

.@{prefix} {
    .Cal__Container__root {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        margin: auto;
        position: fixed;
        max-width: 460px;
    }
}