@import '../../style/mixinx';

@prefix: weui;

.@{prefix}-month-picker{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 1000px;
    right: 0;
    margin: 0 auto;
    max-width: 480px;
    background: #fff;
    z-index: 5;
    opacity: 0;
    &.close {
        animation: picker-close 1s ease forwards;
        @keyframes picker-close {
            0% {
                left: 0;
                opacity: 1;
            }
            100% {
                left: 1000px;
                opacity: 0;
            }
        }
    }
    &.open {
        animation: picker-open .4s ease forwards;
        @keyframes picker-open {
            0% {
                left: 1000px;
                opacity: 0;
            }
            100% {
                left: 0;
                opacity: 1;
            }
        }
    }
    .@{prefix}-month-picker-name {
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid #dcdcdc;
        .icon {
            top: 0;
            left: -10px;
            font-size: 14px;
            position: absolute;
            padding: 0 20px;
        }
    }
    .@{prefix}-month-picker-content{
        .float-clear();
        height: 100%;
        .@{prefix}-month-picker-year-list{
            width: 30%;
            float: left;
            height: 100%;
            max-height: 100%;
            overflow-y: scroll;
            background: #f6f4f5;
            .@{prefix}-month-picker-year-list-item {
                padding: 10px;
                font-size: 14px;
                line-height: 20px;
                background: #f6f4f5;
                &.active{
                    border-left: 2px solid #32ADC6;
                    background: #fff;
                }
            }
        }
        .@{prefix}-month-picker-month-list{
            width: 70%;
            float: left;
            .@{prefix}-month-picker-month-list-item {
                padding: 10px;
                border-radius: 5px;
                border-bottom: 1px solid #f4f4f4;
                font-size: 14px;
                line-height: 24px;
                background: #fff;
                .float-clear();
                .icon{
                    float: right;
                }
                &.active{
                    color: #32adc6;
                }
            }
        }
    }

}