@import "../../style/base/reset";

.@{prefix}_page {
    min-height: 100%;
    padding-top: 57px;
    .@{prefix}_header {
        padding-top: 15px;
        height: 57px;
        .back_wrap, .share_wrap {
            top: 15px;
        }
    }
}

.@{prefix}_page_not_app {
    padding-top: 42px;
    .@{prefix}_header {
        padding-top: 0px;
        height: 42px;
        .back_wrap, .share_wrap {
            top: 0px;
        }
    }
}

.@{prefix}_page {
    color: #787878;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f2f2f2;
    font-weight: normal;
    padding-bottom: 60px;
    p {
        line-height: 23px;
        font-size: 14px;
        word-break: break-all;
        text-align: justify;
    }
    textarea {
        resize: vertical;
    }
    .iconfont{
        margin-right: 5px;
    }
    .loading_text {
        width: 200px;
        height: 70px;
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: .1;
        display: block;
        text-align: center;
        color: #000;
        .big {
            line-height: 45px;
            font-size: 35px;
            display: block;
        }
        .mask{
            width: 10px;
            height: 45px;
            background: #fff;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: movename 1.5s ease-in-out infinite; /* Safari and Chrome */
            @-webkit-keyframes movename /* Safari and Chrome */
            {
                0% {
                    -webkit-transform: translate(0, 0) skew(-20deg,0deg);
                }
                50%{
                    -webkit-transform: translate(200px, 0) skew(-20deg,0deg);
                }
                51%{
                    -webkit-transform: translate(-200px, 0) skew(-20deg,0deg);
                }
                100% {
                    -webkit-transform: translate(0px, 0) skew(-20deg,0deg);
                }
            }
        }
    }
    .blue_color {
        color: #6ac2b6;
    }
    .yellow_color {
        color: #f59107;
    }
    .light_grey_color {
        color: #bdbdbd;
    }
    .red_color {
        color: red;
    }

    .cursor:hover {
        cursor: pointer;
    }
    .cursor:active {
        cursor: pointer;
        background: rgba(204, 204, 204, .1);
        -webkit-tap-highlight-color: transparent;
    }
    .float_right {
        float: right;
    }
    .float_left {
        float: left;
    }
    .disabled {
        background: #eee;
        opacity: .5;
    }

    .am-list {
        .am-list-header {
            padding: 24px 10px 8px 10px;
            color: #656565;
            font-size: 14px;
        }
        .am-list-footer {
            padding: 8px 10px;
        }
        .am-list-item {
            padding-left: 10px;
            .am-list-line:extend(.flex-h, .flex-hc) {
                padding: 6px 10px 6px 0;
                .am-list-content:extend(.flex1){ }
                .am-list-content, .am-list-extra {
                    line-height: 30px;
                    font-size: 14px;
                    color: #656565;
                    font-weight: normal;
                }
                .am-list-arrow{
                    .am-list-arrow-horizontal{
                        position: absolute;
                        margin-top: -8px;
                        top: 50%;
                    }
                }
            }
        }
        .am-list-item.am-input-item {
            padding: 6px 10px;
            .am-input-label {
                font-size: 14px;
                color: #656565;
                font-weight: normal;
            }
            .am-input-label-4 {
                margin-right: 5px;
                width: auto !important;
            }
            .am-input-control {
                input {
                    color: #656565;
                    font-size: 14px;
                    text-align: right;
                }
            }
        }
        .am-list-item.am-textarea-item {
            padding: 6px 10px;
            .am-textarea-control {
                textarea {
                    color: #656565;
                    font-size: 14px;
                }
            }
        }
        .am-list-item.am-textarea-item:after,
        .am-list-item.am-input-item:after,
        .am-list-item:last-child:after,
        .am-list-line:after {
            z-index: 0 !important;
            border-bottom: 1px solid #f2f2f2 !important;
        }
        .am-list-item:hover {
            cursor: pointer;
        }
    }
    &.@{prefix}_page_network_error{
        background: #fff!important;
        .network_error{
            width: 100%;
            height: 100%;
            padding-top: 90px;
            img{
                width: 200px;
                display: block;
                margin: 0 auto 35px auto;
            }
            .tip_text{
                font-size: 24px;
                margin-bottom: 10px;
                text-align: center;
                &.small{
                    margin-bottom: 80px;
                    font-size: 14px;
                    color: #999;
                }
            }
            .weui_btn{
                width: 200px;
            }
        }
    }
}

.@{prefix}_page_no_header {
    padding-top: 0;
}

@media (min-width: 480px) {
    .@{prefix}_page {
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
    }
}

.layermbox {
    .laymshade {
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 480px;
    }
    .layermmain {
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 480px;
    }
}

.am-action-sheet {
    .am-action-sheet-content {
        .am-action-sheet-body {
            .am-action-sheet-share {
                .am-action-sheet-share-content {
                    .am-action-sheet-share-item-icon {
                        .anticon:before {
                            font-family: "iconfont" !important;
                        }
                    }
                }
            }
        }
    }
}

.am-picker-popup-mask {
    max-width: 480px;
    margin: 0 auto;
}

.am-picker-popup-wrap {
    .am-picker-popup {
        max-width: 480px;
        margin: 0 auto;
        left: 0;
        right: 0;
        .am-picker-popup-content {
            .am-picker-popup-body {
                .am-picker {
                    .am-picker-main-item {
                        .am-picker-picker {
                            .am-picker-picker-content {
                                .am-picker-picker-item {
                                    direction: ltr;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.fade_in{
    -webkit-animation: fade_in .5s ease;
    @keyframes fade_in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}

.slide_in {
    -webkit-animation: slide_in .5s ease; /* Safari and Chrome */
    @-webkit-keyframes slide_in /* Safari and Chrome */
    {
        0% {
            opacity: 0;
            -webkit-transform: translate(100px, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(0, 0);
        }
    }
}

.slide_up {
    -webkit-animation: slide_up .5s ease; /* Safari and Chrome */
    @-webkit-keyframes slide_up /* Safari and Chrome */     {
        0% {
            opacity: 0;
            -webkit-transform: translate(0, 100px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(0, 0);
        }
    }
}

.slide_down {
    -webkit-animation: slide_down .5s ease; /* Safari and Chrome */
    @-webkit-keyframes slide_down /* Safari and Chrome */
    {
        0% {
            opacity: 0;
            -webkit-transform: translate(0, -100px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(0, 0);
        }
    }
}


/* 子元素-平均分栏 */
.flex1 {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    width: 20%; /* For old syntax, otherwise collapses. */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
/* 父元素-横向排列（主轴） */
.flex-h {
    display: box; /* OLD - Android 4.4- */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
/* 父元素-水平居中（主轴是横向才生效） */
.flex-hc {
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    /* 其它取值如下：
    align-items 主轴原点方向对齐
    flex-end 主轴延伸方向对齐
    space-between 等间距排列，首尾不留白
    space-around 等间距排列，首尾留白
    */
}
