@import '../../style/mixinx';

@listPrefixCls: weui-picker;

.@{listPrefixCls} {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 1000px;
    right: 0;
    margin: 0 auto;
    max-width: 480px;
    background: #fff;
    z-index: 5;
    opacity: 0;
    &.close {
        animation: picker-close 1s ease forwards;
        @keyframes picker-close {
            0% {
                left: 0;
                opacity: 1;
            }
            100% {
                left: 1000px;
                opacity: 0;
            }
        }
    }
    &.open {
        animation: picker-open .4s ease forwards;
        @keyframes picker-open {
            0% {
                left: 1000px;
                opacity: 0;
            }
            100% {
                left: 0;
                opacity: 1;
            }
        }
    }
    .@{listPrefixCls}-name {
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        .icon {
            top: 0;
            left: -10px;
            font-size: 14px;
            position: absolute;
            padding: 0 20px;
        }
    }
    .@{listPrefixCls}-option {
        border-bottom: 1px solid #dcdcdc;
        font-size: 14px;
        line-height: 40px;
        padding-left: 10px;
        &:active, &:hover{
            background: #eee;
            -webkit-tap-highlight-color: transparent;
        }
        .icon{
            position: absolute;
            right: 10px;
            font-size: 14px;
            color: #00a0e3;
        }
    }

}