.weui_range_select {
    select {
        width: auto;
        display: inline-block;
        option {
            width: auto;
        }
    }
    .symbol {
        position: relative;
        left: 10px;
    }
}