@import './base/mixin';

.@{prefix}-search-bar {
    padding: 10px;
    background: #fff;
    position: relative;
    .@{prefix}-search-bar-icon{
	    top: 15px;
	    left: 18px;
	    color: #cbcbcb;
	    font-size: 20px;
    	position: absolute;
    }
    .@{prefix}-search-bar-input{
    	font-size: 14px;
    	line-height: 30px;
    	border-radius: 20px;
    	border: 1px solid #cbcbcb;
    	padding-left: 30px;
    	width: 100%;
    }
}
