@import '../../style/mixinx';

@prefixCls: weui-tab-bar;

.@{prefixCls} {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    border-top: 1px solid #eee;
    background: #000;
    animation: tab-bar-slide-up .5s ease forwards;
    @keyframes tab-bar-slide-up {
        0% {
            bottom: -50px;
            -webkit-transform: scale(0.8);
        }
        100% {
            bottom: 0;
            -webkit-transform: scale(1);
        }
    }
    .display-box();
    .@{prefixCls}-item {
        .cursor();
        .box-flex(1);
        .box-align(center);
        text-align: center;
        line-height: 20px;
        color: #c8c8c8;
        height: 50px;
        font-size: 12px;
        padding-top: 8px;
        .icon {
            display: block;
            font-size: 25px;
            margin-right: 0;
        }
        &.active{
            color: #6ac2b6;
        }
    }
}