@import './base/mixin';
 
.@{prefix}-tabs {
    background: #fff;
    .@{prefix}-tabs-nav {
        .display-box();
        .@{prefix}-tabs-nav-item {
            .box-flex();
            .cursor();
            font-size: 12px;
            line-height: 40px;
            text-align: center;
            border-bottom: 1px solid #dcdcdc;
            &.active {
                color: @colorMain;
                border-bottom: 1px solid @colorMain;
            }
        }
    }
    .@{prefix}-tabs-content {

    }
}